<div class="formulario bg-white">
  <h1>Pedidos</h1>
  <mat-form-field class="full-width">
    <mat-label>Código Cliente:</mat-label>
    <input matInput [(ngModel)]="order.idCliente">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Nombre Cliente:</mat-label>
    <input matInput [(ngModel)]="order.nombreCliente">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Total Productos:</mat-label>
    <input matInput [(ngModel)]="order.totalProductos">
  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Importe Total</mat-label>
    <input matInput [(ngModel)]="order.importeTotal"/>
  </mat-form-field>
  <button class="full-width" mat-raised-button color="primary" (click)="addOrder()">Añadir</button>
</div>
